{{ form_start(form, {'attr': {'class': 'card p-3 w-75 mx-auto'}}) }}
<<<<<<< HEAD
{{ form_widget(form) }}
<div class="text-center">
	<button type="submit" class="btn btn-secondary">{{ button_label|default('save') }}</button>
</div>
{{ form_end(form) }}
=======
    {{ form_widget(form) }}
<button type="submit" class="btn btn-secondary">{{ button_label|default('save') }}</button>
{{ form_end(form) }}
>>>>>>> 9953f0185306168e882550e7ab66a9b8309f44e8
